{% extends "layout.twig" %}

{% block title %}Chat with {{ user2Username }}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Chat with <b>{{ user2Username }}</b></h3>
                </div>
                <div class="panel-body">

                    {% if messages %}

                        {% for message in messages %}

                            {% if message.sent %}
                                <div class="well well-sm text-right" style="background-color: rgb(220, 248, 198);">
                                    {{ message.text }}
                                    <br>
                                    <small>{{ message.createdAt | date("m/d/Y H:i") }}</small>
                                </div>
                            {% else %}
                                <div class="well well-sm" style="background-color: white;">
                                    {{ message.text }}
                                    <br>
                                    <small>{{ message.createdAt | date("m/d/Y H:i") }}</small>
                                </div>
                            {% endif %}

                        {% endfor %}

                    {% else %}
                        <div class="well">
                            There are no messages in this chat yet.
                        </div>
                    {% endif %}

                </div>
                <div class="panel-footer">
                    <div class="container-fluid">

                        <div class="col-md-10">
                            <input type="text" class="form-control" id="usernameInput">
                        </div>
                        <div class="col-md-2">
                            <input type="button" class="btn btn-default" id="newChatButton" value="Send">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}